* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}


/* navbar */

nav {
    display: flex;
    background-color: rgb(2, 5, 51);
    color: azure;
    justify-content: space-around;
    padding: 20px 0;
    height: 20px;
    align-items: center;
}

nav .logo h4 {
    font-family: font-family: 'Pacifico', cursive;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: azure;
    text-decoration: none;
    font-size: 0.8rem;
}

nav ul li a:hover {
    color: beige;
}


/* hamburger menu */

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    display: none;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    margin-left: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/* hamburger menu animasi */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0)
}


/* responsif breakpoint tablet */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(2, 5, 51);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}